*{
    margin: 0;
    padding: 0;
}
.navbar a{
    color: white;
    text-decoration: none;
    justify-content: space-between;
    margin-left: 12px;
}
body{
    max-width: 50%;
    margin: auto;
}
.head1{
    float: left;
    width: 100%;
    margin-bottom: 0%;
    display: flex;
}
.navbar{
    background-color: rgb(37, 21, 21);
    float: left;
    width: 100%;
    display: flex;
}
h2{
    clear: both;
    width: 100%;
    margin-top: auto;
}
.tu{
    clear: both;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.tut{
    float: left;
}
.tut2{
    float: left;
}
.cont{
    clear: both;
    background-color: rgb(84, 236, 84);
    padding: 40px 10px;
    margin-bottom: 10px;
}
h1{
    width: 15%;
    clear: both;
    float: left;
    color: rgb(16, 99, 16);
}
p{
    width: 15%;
    padding-top: 10px;
}
.search{
    width: 65%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.sear{
    width: 30%;
}
.submitt{
    width: 20%;
}
.search input[type=submit]{
    background-color: rgb(43, 218, 43);
    color: antiquewhite;
    border-radius: 10px;
    border-color: rgb(40, 218, 40);
    width: 100%;
    height: 20px;
    margin-left: 45%;
}
.tu input{
    background-color: green;
    color: antiquewhite;
    border-color: green;
}
.submit{
    float: left;
    padding-top: 5px;
    background-color: blue;
    width: 40%;
    clear: both;
}
.cont input{
    background-color: rgb(18, 207, 18);
    color: antiquewhite;
    border-color: rgb(18, 207, 18);;
}
.con input{
    background-color: rgb(15, 2, 2);
    border-color: rgb(15, 2, 2);;
}
.foot input{
    background-color: rgb(112, 112, 112);
    color: black;
    border: rgb(112, 112, 112);
}
.main{
    clear: both;
    border: 1px solid black;
    width: 100%;
    padding: 15px 0px;
    border-left: none;
    border-right: none;
}