h1{
    color: green;
}
input[type=submit] {
    background-color: green;
    color: white;
    width: 100px;
    border-radius: 20px;
    padding: 5px;
}
p{
    font-size: large;
    font-weight: bold; 
}
input{
    border-radius: 5px;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
