*{
    margin: auto;
    padding: 0%;
}
input{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    padding: 2px;
}
input[ type="button"]{
    width: 100px;
    border-radius: 15px;
    background-color: rgb(17, 230, 17);
    color: white;
    border: rgb(17, 230, 17);
    height: 30px;
}
body{
    display: flex;
}
h1{
    color: rgb(4, 185, 4);
    font-size: 70px;
    font-weight: 600px;
}
p{
    font-size: 20px;
    font-weight: 500px;
}
.mail{
    width: 260px;
    float: left;
}
.mall{
    width: 100%;
    float: left;
}
.email{
    float: left;
    width: 50px;
}
.need{
    text-align: right;
}
.sign{
    color: rgb(28, 224, 28);
}